.header.clearfix
    nav
      ul.nav.nav-pills.pull-right
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
        li(class=title=='About'?'active':undefined)
          a(href='/about') About
        li(class=title=='Services'?'active':undefined)
          a(href='/services') Services
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Contact
    h3.text-muted PC Repair